# TensorFlow GPU
tensorflow-gpu==2.10.0

# TensorBoard
tensorboard==2.10.1

# Numpy
numpy<2

# Protobuf 
protobuf<3.20

# Requests
requests>=2.21.0,<3

# OpenCV
opencv-python==4.12.0.88

# Ultralytics YOLO
ultralytics-8.3.202 

